.Card {
  margin: 10vw auto;
  max-width: 1030px;
  width: 60%;
  height: 60vh;
  background-color: #FFDA88;
  border-radius: 6px;
}

.Inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.IconWrapper {
  z-index: 0;
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 6em 4em;
}

.Icon {
  font-size: 8rem;
  color: #563B1C;
  opacity: .3;
}

#QuoteRight {
  align-self: flex-end;
}

.CardText {
  z-index: 1;
  position: absolute;
  align-self: center;
  justify-self: center;
  padding: 6em;
  width: 100%;
  height: 100%;
  font-size: 2.4em;
}

p {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
}

.Footer {
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-self: flex-end;
  width: 100%;
  padding-bottom: 2em;
}

#Twitter {
  color: #563B1C;
  font-size: 2rem;
}

.btn {
  color: #563B1C;
  border: 1px solid #563B1C;
}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
